# Ignorar credenciales de Firebase Admin SDK
server/previ-agro-api/firebase-contra/

# Entornos y dependencias
client/node_modules/
client/.env.local
client/.env
server/.venv/
server/.env
client/previ-agro/.next/

# Ignorar credenciales de Firebase en el frontend


